* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav {

}

#nav li {
    color: #fff;
    padding: 0 24px;
    display: inline-block
}

#nav li a {
    line-height: 46px;
}

#nav .subnav {
    display: none;
}

#slider {
    height: 100px;
    background-color: #ccc;
}

#content {
    height: 100px;
    background-color: #fff;
}

#footer {
    height: 100px;
    background-color: #ccc;
}
